<main>
  <div class="display-buttons">
    <button
      class="grid-btn"
      (click)="showGridView()"
      [class.active-btn]="showGrid"
    >
      <img
        [class.grayed-btn]="!showGrid"
        src="/assets/icons/grid-menu.png"
        alt=""
      />
    </button>
    <button
      class="list-btn"
      (click)="showListView()"
      [class.active-btn]="!showGrid"
    >
      <img
        [class.grayed-btn]="showGrid"
        src="/assets/icons/list-menu.png"
        alt=""
      />
    </button>
  </div>

  <!-- displaying videos based on the selected view -->

  <!-- GRID VIEW -->
  <div *ngIf="showGrid; else listView" class="video-grid">
    <!-- videos -->
    <div *ngFor="let video of videos" class="video-card">
      <img
        [src]="video.previewUrl"
        alt="Video Preview Picture"
        class="video-image"
      />

      <div class="video-info">
        <h2>{{ video.title }}</h2>
        <div class="video-details">
          <div class="video-bottom">
            <p class="date-author">{{ video.createdDate }}</p>
            <div class="author-details">
              <img
                [src]="video.author.pictureUrl"
                alt="Authors Image"
                class="author-image"
              />
              <p>{{ video.author.name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- LIST VIEW -->
<ng-template #listView class="video-list">
  <div class="flex-list">
    <div *ngFor="let video of videos" class="video-card-list">
      <div class="video-left">
        <img
          [src]="video.previewUrl"
          alt="Video Preview Picture"
          class="video-image-list"
        />
        <h2>{{ video.title }}</h2>
      </div>
      <div class="video-right">
        <p class="date-author">
          {{ video.createdDate | date : "dd/MM/yyyy" }}
        </p>
        <div class="author-details">
          <img
            [src]="video.author.pictureUrl"
            alt="Authors Image"
            class="author-image"
          />
          <p>{{ video.author.name }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
