nav
    height: 50px
    background-color: #12123d
    display: flex
    align-items: center
    justify-content: space-between
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 100
    a
        img
            width: 80px
            filter: brightness(100000%)
            margin-left: 15px

.user
    display: flex
    align-items: center
    padding-right: 20px
    img
        width: 20px
        height: 20px
        border-radius: 50%
        margin-right: 10px
    p
        color: white
        font-size: .7rem
