<main>
  <div *ngIf="loading; else content" class="loading-text">
    <p>Loading...</p>
  </div>

  <ng-template #content>
    <div *ngIf="videoData" class="video-data">
      <div class="video-details-header">
        <div class="title-bar">
          <input
            *ngIf="userIsAuthor"
            type="text"
            [(ngModel)]="videoData.title"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="onTitleChange()"
          />
          <p *ngIf="!userIsAuthor">{{ videoData.title }}</p>
          <button
            *ngIf="userIsAuthor"
            [ngClass]="{ 'gray-button': !titleChanged }"
            [disabled]="!titleChanged"
            (click)="updateVideoProperties()"
          >
            Save
          </button>
        </div>
      </div>
      <!-- VIDEO PLAYER -->
      <div class="video-container">
        <video
          id="videoElement"
          controls
          (timeupdate)="onVideoTimeUpdate($event)"
          #videoElement
          crossorigin="anonymous"
        >
          <source [src]="videoData.url" type="video/mp4" />
        </video>
        <div class="star" [@starAnimation]="starState">
          <img src="/assets/icons/star.png" alt="shooting star" />
        </div>
      </div>
      <div class="video-bottom">
        <div class="reaction-buttons">
          <button (click)="addSnapshot()">
            <img src="/assets/icons/camera.png" alt="camera icon" /> Snapshot
          </button>
          <button (click)="addStarReaction()" [disabled]="!currentTimestamp">
            <img src="/assets/icons/star.png" alt="star icon" />
            Star
          </button>
        </div>
        <div class="author-details">
          <img [src]="videoData.author.pictureUrl" alt="Author" />
          <p>{{ videoData.author.name }}</p>
        </div>
      </div>

      <!-- reactions List -->
      <div class="reactions-list">
        <p class="reactions-title text-gray">Reactions</p>
        <div *ngFor="let reaction of videoReactions">
          <div
            (click)="seekToTime(reaction.timeframe)"
            class="reaction-item-card"
          >
            <div class="left-side">
              <div class="reaction-stamp">
                <div *ngIf="reaction.type === 'star'" class="img-div">
                  <img src="/assets/icons/star.png" alt="star icon" />
                </div>
                <div *ngIf="reaction.type === 'snapshot'" class="img-div">
                  <img src="/assets/icons/camera.png" alt="camera icon" />
                </div>
                <p>{{ formatTimeframe(reaction.timeframe) }}</p>
              </div>
              <div class="reaction-details">
                <div *ngIf="reaction.type === 'star'">
                  <p class="gray-text">
                    {{ reaction.author.name }} starred a video
                  </p>
                </div>
                <div *ngIf="reaction.type === 'snapshot'">
                  <p class="gray-text">
                    {{ reaction.author.name }} created a {{ reaction.type }}
                  </p>
                </div>
              </div>
              <p *ngIf="reaction.type === 'snapshot'" class="gray-text">
                {{ reaction.createdDate | date : "dd/MM/yyyy" }}
              </p>
              <p *ngIf="reaction.type === 'star'" class="gray-text">
                {{ reaction.postedDate | date : "dd/MM/yyyy" }}
              </p>
            </div>
            <div *ngIf="reaction.imageUrl">
              <img
                [src]="reaction.imageUrl"
                alt="Reaction Image"
                class="reaction-image"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</main>
