<main>
  <div *ngIf="loading; else content">
    <p>Loading...</p>
  </div>

  <ng-template #content>
    <div *ngIf="videoData" class="video-data">
      <div class="video-details-header">
        <div class="title-bar">
          <input
            *ngIf="userIsAuthor"
            type="text"
            [(ngModel)]="videoData.title"
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="onTitleChange()"
          />
          <p *ngIf="!userIsAuthor">{{ videoData.title }}</p>
          <button
            *ngIf="userIsAuthor"
            [ngClass]="{ 'gray-button': !titleChanged }"
            [disabled]="!titleChanged"
            (click)="updateVideoProperties()"
          >
            Save
          </button>
        </div>
      </div>
      <div class="video-container">
        <video controls (timeupdate)="onVideoTimeUpdate($event)">
          <source [src]="videoData.url" type="video/mp4" />
        </video>
      </div>
      <div class="video-bottom">
        <div class="reaction-buttons">
          <button (click)="addStarReaction()" [disabled]="!currentTimestamp">
            <img src="/assets/icons/star.png" alt="star icon" />
            Star
          </button>
          <button>
            <img src="/assets/icons/camera.png" alt="camera icon" /> Snapshot
          </button>
        </div>
        <div class="author-details">
          <img [src]="videoData.author.pictureUrl" alt="Author" />
          <p>{{ videoData.author.name }}</p>
        </div>
      </div>

      <!-- reactions List -->
      <div class="reactions-list">
        <p class="reactions-title">Reactions</p>
        <div *ngFor="let reaction of videoReactions" class="reaction-item-card">
          <div class="left-side">
            <div class="reaction-stamp">
              <div *ngIf="reaction.type === 'star'" class="img-div">
                <img src="/assets/icons/star.png" alt="star icon" />
              </div>
              <div *ngIf="reaction.type === 'snapshot'" class="img-div">
                <img src="/assets/icons/camera.png" alt="camera icon" />
              </div>
              <p>{{ formatTimeframe(reaction.timeframe) }}</p>
            </div>
            <div class="reaction-details">
              <div *ngIf="reaction.type === 'star'">
                <p>{{ reaction.author.name }} starred a video</p>
              </div>
              <div *ngIf="reaction.type === 'snapshot'">
                <p>{{ reaction.author.name }} created a {{ reaction.type }}</p>
              </div>
            </div>
            <p>{{ reaction.createdDate | date : "dd/MM/yyyy" }}</p>
          </div>
          <div *ngIf="reaction.imageUrl">
            <img
              [src]="reaction.imageUrl"
              alt="Reaction Image"
              class="reaction-image"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</main>
